.sidebar-frame {
  flex-direction: column;
  z-index: 1;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 150px;
  display: flex;
  border-right: #ececec 1px solid;
  z-index: 2;
}

.sidebar .sidebar-content {
  flex: 1;
}

.sidebar .sidebar-resizer {
  flex-basis: 9px;
  cursor: col-resize;
}

.sidebar .sidebar-resizer:hover {
  width: 4px;
  background: #d4d4d4b4;
}