  version: '3'
  networks:
    default:
      driver_opts:
        com.docker.network.driver.mtu: 1442
  services:
    frontend:
      build:
        context: ./frontend
        dockerfile: frontend.dockerfile
      ports:
        - "3000:3000"
      volumes:
        - ./frontend:/app
      environment:
        - PORT=3000
    backend:
      build:
        context: ./backend
        dockerfile: backend.dockerfile
      ports:
        - "4000:4000"
      environment:
        - PORT=4000
        - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      depends_on:
        - db
    db:
      image: postgres:latest
      env_file:
        - .env
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
        - ./sql:/docker-entrypoint-initdb.d
    nginx:
      image: nginx:stable-alpine
      restart: always
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./frontend/build:/usr/share/nginx/html
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        - /etc/letsencrypt:/etc/letsencrypt
      depends_on:
        - frontend

  volumes:
    pgdata:
